.categoryHeader{
    width: 100%;
}
.bigTitle{
    font-size: 55px;
    padding-top: 115px;
    padding-bottom: 5px;
    font-weight: 600;
    text-align: center;
    color: #5c5959;
}

.categoryHeader ul{
    list-style-type: none;
    display: flex;
    border-top: 2px solid;
    border-bottom: 1px solid #e0dcdc;
    padding: 5px 0px;
    justify-content: center;
}

.categoryHeader ul li a{
    text-decoration: none;
    font-size: 14px;
}

.categoryHeader ul li{
    margin: 0px 15px;
}

.topNews{
    margin-top: 25px;
}

#articleTop:hover a{
    color: #c00000;
}

#articleTopBig{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
}

#articleTopBig p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
    margin: 0px;
}

#articleTopBig img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#articleMediumContainer{
    padding-left: 25px;
    border-left: 1px solid;
    border-color: #efebeb;
}

/* .articleMediumBot{
    margin-bottom: 17px;
    border-bottom: 1px solid;
    border-color: #efebeb;
    padding-bottom: 10px;
} */

.articleTopBig{
    height: 100%;
    overflow: hidden;
    display: contents;
}

.articleTopBig a{
    margin: 10px 0px;
    font-size: 26px;
}

.articleTopBig a.image{
    margin: 0px;
}

.articleTopMedium a.image{
    margin-top: 0px;
    height: 70%;
}

.articleTopBig a.image{
    margin-top: 0px;
    height: 80%;
}

.articleTopMedium{
    overflow: hidden;
    margin: 0px;
}

.articleTopMedium a{
    margin-top: 10px;
    font-size: 18px;
}

.articleTopMedium img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topNewsList{
    margin-top: 50px;
    margin-bottom: 30px;
}

#articleTopItem a.image{
    height: 75%;
}

#articleTopItem img{
    width: 100%;
    margin-bottom: 8px;
    height: 95%;
    object-fit: cover;
}

#articleTopItem:hover a{
    color: #c00000;
}

/*centerNews*/

.centerNewsContainer{
    height: 450px;
    padding-top: 20px;
}

.centerNewsBig{
    height: 100%;
}

.centerNewsBig a.image{
    width: 100%;
    height: 80%;
}

.centerNewsBig img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.centerNewsBig a.title{
    font-size: 21px;
    padding-top: 8px;
}

.centerNewsMedium{
    height: 40%;
}

.centerNewsMedium a.image{
    width: 100%;
    height: 100%;
}

.centerNewsMedium a.title{
    padding: 7px 0px;
}

.centerNewsMedium img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.centerNewsMedium p {
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
    margin: 0px;
}

.centerNewsSmall{
    width: 100%;
    display: flex;
    height: 23%;
    border-bottom: 1px solid;
    border-color: #efebeb;
    padding-bottom: 13px;
    margin-top: 13px;
}

.centerNewsSmall a.image{
    width: 55%;
    padding-right: 10px;
}

.centerNewsSmall img{
    width: 100%;
    object-fit: cover;
    height: 100%
}

.centerNewsSmall a.title{
    width: 100%;
    font-size: 14.5px;
}

.firstSmall{
    margin-top: 0px;
}

.lastSmall{
    border: none;
}

.centerNewsContent{
    height: 100%;
}

.centerNewsContainer article:hover a.title{
    color: #c00000;
}

.mobileNews{
    margin-top: -10px;
    margin-bottom: 30px;
}

.internetNews{
    margin-bottom: 30px;
}

.lastArticle{
    border: none;
}

.articleVertical{
    animation-name: fade;
    animation-duration: 0.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.bonusButton{
    padding: 6px 30px;
    border-radius: 17px;
    border: 1px solid #c00000;
    background: white;
    color: #c00000;
    font-size: 14px;
    margin: 0 auto;
}

.bonusButtonContainer{
    display: flex;
}

.bonusButton:hover {
    background: #c00000;
    color: aliceblue;
}
.articleVertical:nth-child(4) ~ .articleVertical{
    display: none;
}
.articleSidebar{
    float: left;
}
.dropdownHeader{
    display: none;
}

/*Responsive Mobile*/
@media only screen and (max-width: 740px) {
    .categoryHeader{
        display: none;
    }
    .dropdownHeader{
        display: flex;
        margin-top: 85px;
        margin-left: 0px !important;
        padding-left: 15px !important;
    }
    .dropdownHeader a{
        font-size: 24px;
        color: #c00000;
        margin-bottom: 2px;
    }
    .topCategoryNews{
        padding: 0;
        margin: 0;
    }
    .btnHeader{
        background: white !important;
        color: #5c5959 !important;
        border: none !important;
        font-size: 20px;
    }
    .btnHeader:focus {
        box-shadow: none !important;
    }
    .dropdownHeader .dropdown-item{
        font-size: 16px;
        color: white !important;
    }
    .dropdownHeader .dropdown-menu{
        background: #2e2d2df2;
    }
    #articleTopBig{
        padding: 0px;
        width: 100%;
    }
    .articleTopBig{
        display: block;
        padding: 0px 15px !important;
        margin-bottom: 5px;
    }
    .topCategory{
        width: 100%;
        margin: 0px;
    }
    .articleTopBig p{
        display: none;
    }
    .articleTopBig a.image {
        height: 235px !important;
    }
    .articleTopBig a.title {
        font-size: 22px;
    }
    #articleMediumContainer{
        padding: 0px 15px !important;
        display: flex;
    }
    .articleTopMedium{
        width: 48% !important;
    }
    .articleTopMedium a.image{
        height: 30vw !important;
    }
    .articleTopMedium a.title{
        font-size: 16px !important;
    }
    .topCategoryList{
        margin: 0px;
    }
    .categoryListContainer{
        padding: 0px 15px !important;
        width: 100%;
        margin: 0 !important;
    }
    .topCategoryList #articleTopItem{
        display: flex;
        margin-bottom: 20px !important;
        padding: 0 !important;
    }
    .topCategoryList #articleTopItem a.image{
        height: 97px !important;
        width: 145px;
        margin: 0 !important;
    }
    .topCategoryList #articleTopItem img{
        height: 100% !important;
        margin: 0px !important;
    }
    .topCategoryList #articleTopItem a.title{
        width: 59%;
        margin-left: 10px;
    }
    .blockchainNews{
        display: none;
    }
    .mobileNews{
        display: none;
    }
    .laptopNews{
        display: none;
    }
    .internetNews{
        display: none;
    }
    .categoryNewsSidebar{
        display: none;
    }
    .contentVerticalCategory{
        display: block !important;
        height: max-content !important;
        width: 100%;
        margin: 0;
        margin-top: 0px !important;
    }
    .newNews{
        height: max-content;
    }
    .newNews .contentTile{
        display: none;
    }
    .contentVerticalCategory .articleVertical p{
        display: none;
    }
    .contentVerticalCategory .articleVertical{
        height: max-content;
        margin: 0px 0px 20px 0px !important;
        padding: 0px !important;
        border: none !important;
    }
    .contentVerticalCategory #contentVertical{
        padding: 0px 15px !important;
    }
    .contentVerticalCategory .articleVertical a.image{
        height: 97px !important;
        width: 145px;
        margin: 0 !important;
    }
    .contentVerticalCategory .articleContent{
        width: 59%;
        margin-left: 10px
    }
    .contentVerticalCategory .articleContent a{
        padding: 0 !important;
        margin: 0 !important;
        font-size: 16px !important;
    }
    .bonusButtonContainer{
        margin-top: 30px;
    }
}