*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #5c5959;
    font-weight: 700;
    display: block;
    cursor: pointer;
}

img{
    border-radius: 6px;
}

/*Header*/

.menuContainer{
    position: fixed;
    margin: 0 auto; 
    left: 0;
    right: 0;
    width: 1100px;
    z-index: 999;
    width: 1100px;
}

#menuToggle{
    display: none;
}

.menu{
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid;
    border-color: #e3e0e0;
    height: 65px;
    background: white;
}

.logo{
    margin-top: 8px;
    margin-left: 0px;
}

.logo a{
    width: max-content;
    margin: 0px;
}

.menu img{
    width: 123.75px;
    margin-top: 4px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    margin-top: 21px;
    padding: 0px;
}


.menu ul li{
    margin-right: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: #5c5959;
    font-weight: 700;
    display: block;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
}

.menu li{
    height: 44px;
    cursor: pointer;
}

.menu li:hover{
    border-bottom: 4px solid;
    border-color: #c00000;
}

.menu li.iconDot:hover{
    border: none;
}

.iconDot:hover .menuPopupContainer{
    display: block;
}

.menu li a:hover{
    color: #c00000; 
}

.menu li:hover a{
    color: #c00000; 
}

.listMenuContainer{
    margin-right: 120px;
    margin-left: 143px;
}

.toolBox{
    display: flex;
}

.userIcon{
    margin-top: 21px;
    margin-left: 25px;
}

.searchForm{
    margin-top: 21px;
    margin-left: 25px;
}

.searchForm i{
    font-size: 22px;
    color: #5c5959;
}

input:focus{
    outline: none;
}

#toggle {
    display: none;
    color: #353b48;
    text-align: right;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    margin-top: 25px;
}

.showBox{
    cursor: pointer;
}

#searchBox{
    display: none;
    position: absolute;
    right: 48px;
    bottom: 11px;
}

#searchBox{
    animation-name: fade;
    animation-duration: 0.3s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

#searchBox input{
    border-radius: 20px;
    border: 1px solid;
    padding: 8px 24px 8px 12px;
    font-size: 13px;
    color: #5c5959;
}

#searchBox i{
    margin-left: -33px;
    margin-top: 8px;
    color: #5c5959;
}

#hiddenBox{
    position: relative;
    display: none;
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: -26px;
    z-index: 30;
}

.userIcon i{
    font-size: 22px;
    color: #5c5959;
}

.menuPopupContainer{
    animation-name: fade;
    animation-duration: 0.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.menuPopupContainer{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 65px;
    position: fixed;
    z-index: 99;
    display: none;
    box-shadow: 0px 48px 39px #39333329;
}

.menuPopup{
    width: 1100px;
    margin: 0 auto;
    padding-top: 15px;
}

.titleMenuPopup{
    display: flex;
}

.listMenuPopup p#tickTile{
    font-size: 19px;
    margin: 0;
    font-weight: 900;
    color: #c00000;
}

.listMenuPopup a#tile{
    font-size: 17px;
    color: #c00000;
    margin: 2px 0px 0px 4px;
}

.categoryMenuPopup a{
    font-weight: 100;
    font-size: 14px;
}

#header{
    display: flex;
}

/*Body*/

.mainBody{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.tagHot{
    display: flex;
    float: left;
    margin-top: 75px;
    margin-left: 0px;
    margin-bottom: 2px;
    width: 100%;
}

.tagHot i{
    font-size: 23px;
    color: #d6493c;
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 0px;
}

.tagHot a{
    font-weight: 100;
    margin: 0px 5px;
    background: #ededed;
    border-radius: 15px;
    padding: 5px 12px;
    color: #797676;
    font-size: 13px;
}

.tagHot a:hover{
    color: white;
    background: #d6493c;
}

.tagHot p.city{
    margin-right: 7px;
    font-weight: 600;
}

.tagHot p{
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 15px;
    color: #5c5959;
}

.weather{
    margin-right: 0px;
    display: flex;
}

@media screen and (max-width: 720px) {
    .tagHot{
        display: none;
    }
}

.topNews a{
    text-decoration: none;
}

.topNews a:hover{
    color: #c00000; 
}

.topNews{
    max-width: 1100px;
}

.content{
    margin-top: 20px;
    
}

.contentTopContainer{
    max-width: 1100px;
}

.contentTop{
    width: 100%;
    display: inline-flex;
}

.contentCenter{
    width: 100%;
    height: max-content;
    padding-right: 0px;
}

.contentCenter a.image{
    margin: 0px;
    height: 350px;
}

.contentCenter img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentCenter a.title{
    font-size: 22px;
    margin: 12px 0px;
}

.contentCenter{
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

div.contentCenter:hover a.title{
    color: #c00000;
}

.content a:hover{
    color: #c00000; 
}

a:hover{
    color: #c00000; 
}

.contentCenter p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
    margin-bottom: -5px;
}

.contentCenter a{
    font-size: 15px;
}

#contentLeftContainer{
    display: table;
}

.contentLeft{
    margin-bottom: 25px;
    display: inline-block;
    padding: 0;
}

.contentLeft:hover a{
    color: #c00000;
}

.contentLeft a.image{
    height: 75%;
}

.contentLeft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentLeft a.title{
    margin-top: 7px;
}

#contentRight{
    margin-right: 0px; 
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.contentRightList{
    display: flex;
    margin: 10px 0px;
    width: 100%;
    height: 16.75%;
    border-bottom: 1px solid;
    border-color: #efebeb;
    padding-bottom: 10px;
}

.contentRightList a.title{
    width: 100%;
    font-size: 14px;
}

.contentRightList a.image{
    width: 65%;
    height: 100%;
}

.contentRightList img{
    width: 100%;
    margin: 0px;
    height: 100%;
    object-fit: cover;
}

.contentRightList a{
    margin-left: 10px;
    font-size: 15px;
}

div.contentRightList:hover a{
    color: #c00000;
}

.contentRightListContainer{
    border-bottom: 1px solid;
    border-color: #efebeb;
}

@media only screen and (max-width: 740px) and (max-width: 1024px) {
    
}

/*Carousel*/
.carousel-item img{
    height: 350px;
    object-fit: cover;
}
.carousel{
    padding-right: 20px;
}

.newsContainer{
    height: 494px;
}

.newsMedium{
    display: table;
}

.newsMedium article:hover a.title{
    color: #c00000;
}

.newsArticleMedium img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsArticleMedium{
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}

.newsArticleMedium a.image{
    height: 77%;
    width: 100%;
}

.newsArticleMedium a.title{
    margin-top: 7px;
}

.newsArticleVertical img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsArticleVertical{
    height: 21%;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: #efebeb;
}

.newsArticleVertical a.image{
    height: 90%;
    width: 60%;
}

.newsArticleVertical a.title{
    font-size: 14px;
    width: 100%;
    margin-left: 15px;
}

.newsArticleVertical:hover a.title{
    color: #c00000;
}

.carouselArticle:hover a.title{
    color: #c00000;
}

.contentArticle a{
    font-size: 22px;
    margin: 7px 0px;
    text-align: center;
}

.contentArticle p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
    text-align: center;
    margin: 0;
}

@media screen and (width: 1100px) {
    .mainBody{
        margin: 0px 20px;
    }
    
}

@media screen and (max-width: 576px) {
    .contentRightList a{
        font-size: 18px;
    }
    
}

.contentTile{
    float: left;
    width: 100%;
}

.contentTile p#tickTile{
    font-weight: 800;
    color: #c00000;
    font-size: 30px;
}

.contentTile a#tile{
    padding: 6px 7px;
    font-weight: 700;
    color: #5c5959;
    font-size: 23px;
    text-decoration: none;
}

.contentTile a#tile:hover{
    color: #c00000;
}

.mainTile p{
    margin: 0;
}

.contentTile{
    border-bottom: 1px solid;
    border-color: #e3e0e0;
}

.mainTile{
    display: flex;
    float: left;
    margin-top: 30px;
}

.worldNews{
    margin-bottom: -35px;
}

.mainWorldNews{
    display: inline-block;
}

.contentWorldMain{
    display: flex;
}

#contentWorldMainList img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contentWorldMainList a.image{
    height: 70%;
}

#contentWorldMainList a.title{
    margin-top: 7px;
}

#contentWorldMainList:hover a{
    color: #c00000;
}

.mainWorldNews a{
    text-decoration: none;
}

#contentVertical{
    padding-right: 100px;
}

.articleVertical{
    border-bottom: 1px solid;
    border-color: #efebeb;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    height: 175px;
}

.articleVertical a{
    margin: 0px 0 10px 0;
    font-size: 18px;
}

.articleVertical a.image{
    max-width: 203.31px;
    max-height: 171.75px;
    height: 100%;
}

.articleVertical img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.articleContent{
    width: 70%;
}

.articleContent a{
   margin-left: 15px;
   margin-bottom: 0px;
   padding-bottom: 5px;
}

.articleContent p{
    margin-left: 15px;
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
    width: 100%;
    margin-bottom: 0px;
}

.articleContent p.hour{
    font-size: 12.5px;
    padding-top: 5px;
}

.articleVertical:hover a{
    color: #c00000;
}

#contentVerticalContainer{
    display: flex;
    margin-left: 0px;
}

#sidebarContainer{
    padding-left: 0px;
}

#sidebar{
    border: 1px solid;
    border-color: #e3e0e0;
    height: 615px;
    padding-left: 30px;
    margin-top: 40px;
}

#sidebar h2.category{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    color: #5c5959;
    font-weight: 600;
}

.articleSidebar{
    display: flex;
    margin-bottom: 20px;
}

.articleSidebar img{
    width: 110px;
    height: 87px;
    margin: 0px;
    object-fit: cover;
}

.articleSidebar a.image{
    margin: 0px;
}

.articleSidebar:hover a{
    color: #c00000;
}

.contentCategory{
    margin-left: 13px;
}

.contentCategory h5{
    font-size: 12px;
    color: #777272;
    margin: 0px 0px 2px 0px;
    font-weight: 200;
}

.contentCategory a{
    width: 180px;
    font-size: 14px;
}

@media screen and (max-width: 1100px) {
    #sidebar{
        display: none;
    }
    
}

.sportNews{
    margin-bottom: 25px;
}

.contentSport{
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.contentSport a{
    text-decoration: none;
    color: #5c5959;
}

.contentSport a:hover{
    color: #c00000; 
}

#contentBig{
    
    margin-left: 0px;
    margin-right: 0px;
}

#contentBig p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
}

#contentBig img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleBig{
    height: 75%;
}

.articleBig a{
    margin: 7px 0px;
    font-size: 21px;
}

.listArticle ul{
    padding-left: 14px;
    margin-top: 10px;
}

.listArticle li{
    margin-bottom: 2px;
}

.listArticle a{
    font-size: 15px;
}

#articleListMedium{
    border-left: 1px solid;
    border-color: #efebeb;
    height: 100%;
}

.articleMedium{
    height: 53%;
}


.articleMedium img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleMedium a{
    margin-top: 10px;
}

.articleMedium a.image{
    height: 75%;
}

.contentSport a.image{
    margin: 0px;
    border: none;
    padding: 0px;
    height: 70%;
}

.articleBig a.image{
    height: 300px;
}

#articleListSmall{
    border-left: 1px solid;
    border-color: #efebeb;
}

.articleSmall{
    height: 18%;
    display: flex;
    border-bottom: 1px solid;
    border-color: #efebeb;
    padding-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.articleSmall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleSmall a.image{
    height: 90%;
    width: 55%;
}

.articleSmall a{
    margin-right:15px;
    font-size: 14px;
}

.articleSmall a.title{
    width: 100%;
}

#articleSport:hover a{
    color: #c00000;
}

@media screen and (max-width: 990px) {
    #articleListSmall{
        display: none;
    }
    
}

@media screen and (max-width: 1100px) {
    .articleSmall a{
        font-size: 14px;
    }
    .articleSmall img{
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    #articleListMedium{
        border:none;
    }
    .articleMediumBot{
        border:none;
    }
}

#entertainmentNews{
    padding-right: 35px;
}

#entertainmentNews a{
    text-decoration: none;
}

#entertainmentNewsLeft a.image{
    margin: 0px;
}

#entertainmentNewsLeft img{
    width: 100%;
}

#entertainmentNewsLeft p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
}

#entertainmentNewsLeft a{
    margin: 7px 0px 7px 0px;
    font-size: 20px;
    cursor: pointer;
}

#entertainmentNewsContainer{
    padding-top: 20px;
}

.articleEntertainment{
    display: flex;
    margin-bottom: 23px;
    width: 100%;
    height: 16%;
}

.articleEntertainment a.image{
    width: 50%;
    height: 100%;
}

.articleEntertainment a.title{
    width: 90%;
}

.articleEntertainment a{
    font-size: 15px;
}

.articleEntertainment img{
    width: 100%;
    padding-right: 10px;
    height: 100%;
    object-fit: cover;
}

.articleEntertainmentBig {
    height: 60%;
}

.articleEntertainmentBig a.image{
    height: 75%;
}

.articleEntertainmentBig img{
    height: 100%;
    object-fit: cover;
}

#travelNews a{
    text-decoration: none;
}

.travelNewsBig img{
    width: 100%;
    margin-top: 20px;
}

.travelNewsBig p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
}

#articleTechEn:hover a{
    color: #c00000;
}

.articleEntertainmentBig:hover a{
    color: #c00000;
}

.travelNewsBig a{
    margin: 7px 0px 7px 0px;
    font-size: 20px;
}

.travelNewsContainer{
    padding-top: 20px;
}

#listArticleEntertainment ul{
    padding-left: 16px;
    margin-top: 10px;
}

#listArticleEntertainment li{
    margin-bottom: 2px;
}

#listArticleEntertainment a{
    font-size: 15px;
    margin: 0px;
}

#techNews a{
    text-decoration: none;
}

.techNewsMedium{
    width: 100%;
    height: 45%;
}

.techNewsBig{
    padding-top: 20px;
    height: max-content;
    display: table;
}

.techNewsBig img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.techNewsBig a.text{
    display: inline-block;
}

.techNewsBig a.image{
    padding-top: 0px;
    height: 225px;;
    margin: 0px;
    display: table-row;
}

.techNewsBig a{
    margin: 7px 0px 15px 0px;
    font-size: 18px;
}

.articleTech{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.articleTech a.image{
    width: 50%;
    height: 90px;
}

.articleTech a.title{
    width: 85%;
}

.articleTech a{
    font-size: 15px;
}

.articleTech img{
    width: 100%;
    padding-right: 10px;
    height: 100%;
    object-fit: cover;
}


.bigTravel p{
    font-size: 14px;
    line-height: 22px;
    color: #746f6f;
    text-align: center;
}

.bigTravel a.title{
    font-size: 21px;
    color: #746f6f;
    margin: 7px 0px;
    text-align: center;
}

.bigTravel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bigTravel a.image{
    width: 100%;
    height: 350px;
}

.smallTravelContainer{
    display: table;
}

.smallTravel{
    margin-bottom: 20px;
    display: inline-block;
}

.smallTravel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smallTravel a.image{
    width: 100%;
}

.smallTravel a.title{
    margin-top: 7px;
}

.smallTravel:hover a.title{
    color: #c00000;
}

.bigTravel:hover a.title{
    color: #c00000;
}

#societyNews{
    padding-right: 30px;
}

#businessNews{
    padding: 0px 23px 0px 22px;
}

#lifeNews{
    padding-left: 30px;
}

.row a{
    text-decoration: none;
}


#lastNews a{
    text-decoration: none;
}

.lastNewsBig a.image{
    margin: 0px;
    height: 225px;
}

.lastNewsBig img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lastNewsBig a{
    margin: 7px 0px 13px 0px;
    font-size: 18px;
}

.lastNewsBig{
    display: table;
    padding-top: 20px;
}

.lastNewsBig a.title{
    width: 100%;
    min-height: 54px;
}

.lastNewsBig:hover a{
    color: #c00000;
}

.lastNewsMedium{
    width: 100%;
}

.lastNewsMedium a.image{
    width: 100%;
    height: 90px;
}

.articleLast{
    display: flex;
    margin-bottom: 20px;
}

.articleLast:hover a{
    color: #c00000;
}

.articleLast a{
    font-size: 15px;
    font-size: 15px;
    width: 130%;
}

.articleLast img{
    width: 100%;
    padding-right: 10px;
    height: 100%;
    object-fit: cover;
}

/* footer */

#footer{
    background-color: #f4f4f4b8;
    height: 185px;
    width: 100%;
}

#footerContainer{
    max-width: 1100px;
    margin: 0 auto;
}

#footerLeft{
    padding: 15px 0px 0px 0px;
    margin: 0px;
}

#footerLeft img{
    width: 80%;
}

#footerLeft p{
    font-size: 13px;
    margin-bottom: 1px;
    color: #6a6565cf;
}

.footerLeftWord{
    margin-top: 7px;
}

#footerRight{
    padding: 70px 0px 0px 0px;
    margin: 0px;
}

.footerRightWord p{
    font-size: 13px;
    margin-bottom: 1px;
    color: #6a6565;
}

.linkWord{
    display: flex;
}

.linkWord a{
    font-size: 13px;
    color: #6a6565;
    margin: 0px;
}

.linkWord p{
    margin: 0px 5px;
    font-weight: 600;
}

.linkWord a:hover{
    color: #393838;
}

/*Responsive Mobile*/

@media only screen and (max-width: 740px) {
    /*Menu*/
    .menuContainer{
        width: 100%;
        position: fixed;
    }
    .logo{
        text-align: center;
    }
    .menu .logo{
        margin-top: 10px;
    }
    #toggle {
        display: block;
        position: absolute;
        left: 5%;
        font-size: 27px !important;
        margin-top: 13px !important;
    }
    .listMenuContainer ul {
        display: none;
    }

    .menuContainer{
        width: 100%;
        display: flex;
    }

    .logo{
        position: relative;
        left: 30%;
    }

    .toolBox{
        right: 5%;
        position: absolute;
    }

    .searchForm{
        display: none;
    }

    .menu{
        width: 100%;
    }
    /*Body*/
    .topNews{
        flex-direction: column;
        padding-top: 60px;
        margin-bottom: 0px !important;
    }
    .CenterLeftContainer{
        height: max-content !important;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .centerContainer{
        margin: 0px 0px 20px 0px;
        padding: 0px 15px !important;
    }
    .centerContainer a.image{
        height: 250px;
    }
    .centerContainer p{
        display: none;
    }
    #contentLeftContainer{
        padding: 0px 15px !important;
        margin: 0;
        height: max-content !important;
    }
    .contentLeft{
        display: flex;
        margin-bottom: 20px !important;
    }
    .contentLeft a.image{
        height: 97px !important;
        width: 145px;
    }
    .contentLeft a.title{
        width: 59%;
        margin-left: 10px;
    }
    .contentLeft a{
        margin: 0;
    }
    #contentRight{
        height: max-content !important;
        margin: 0px;
        padding: 0px 15px !important;
    }
    .contentRightList{
        margin: 0px 0px 20px 0px !important;
        border: none;
        padding: 0 !important;
    }
    .contentRightList a.image{
        height: 97px !important;
        width: 145px;
        margin: 0 !important;
    }
    .contentRightList a.title{
        width: 59%;
        font-size: 16px;
    }

    .mainTile{
        margin-left: 8px;
    }

    .mainTile p{
        display: none;
    }
    .contentTile a#tile{
        color: #c00000 !important;
    }

    /*News*/
    .newsContainer{
        flex-direction: column;
        height: max-content !important;
        width: 100%;
        margin: 0;
    }

    .newsContainer .contentArticle p{
        display: none;
    }

    #carouselExampleCaptions{
        padding: 0px 15px !important;
        margin: 0 !important;
    }

    .carouselArticle{
        height: 310px;
    }

    .d-block{
        height: 215px
    }

    .carouselArticle a.title{
        font-size: 18px;
    }

    .carousel-item img{
        height: 100% !important;
    }

    .newsMedium{
        display: flex !important;
        height: max-content;
        padding: 0px 15px !important;
    }

    .articleMarginRight{
        margin-right: 15px;
    }

    .newsArticleMedium a.image{
        height: 125px !important;
    }
    .newsVertical {
        padding: 0px 15px;
    }
    .newsArticleVertical{
        border: none;
        padding: 0 !important;
        margin-bottom: 20px !important;
    }
    .newsArticleVertical a.title{
        font-size: 16px !important;
        width: 59% !important;
    }

    .newsArticleVertical a.image{
        height: 97px !important;
        width: 145px;
        margin: 0 !important;
    }
    .news{
        margin-bottom: 0px !important;
    }

    /*World*/

    .contentWorldMain{
        flex-wrap: wrap;
        padding: 0px 15px;
        width: 100%;
        margin: 0;
    }
    #contentWorldMainList{
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 47.35%;
        height: max-content;
        margin: 0px 0px 20px 0px;
    }
    #contentWorldMainList a.image{
        width: 100%;
        height: 110px;
    }
    .articleWorldOdd{
        margin-right: 5.3% !important;
    }
    .contentVerticalContainer{
        display: none;
    }
    /*Sport*/
    #contentBig{
        padding: 0px;
    }
    #contentBig p {
        display: none;
    }
    #contentBig ul {
        display: none;
    }
    .contentSportContainer{
        width: 100%;
        margin: 0 auto;
    }
    .articleBig{
        height: max-content !important;
        padding: 0px 15px !important;
    }
    .articleBig a.title{
        margin-bottom: 20px;
    }
    .articleBig a.image{
        height: 250px;
    }
    #articleListMedium{
        display: flex !important;
        height: max-content;
        padding: 0px 15px !important;
    }
    .articleMedium{
        height: max-content !important;
        width: 48% !important;
    }
    .articleMedium a.image{
        height: 125px !important;
    }
    #articleListSmall {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 15px !important;
    }
    .articleSmall{
        display: flex;
        width: 47.35%;
        height: max-content;
        flex-direction: column-reverse;
        margin-left: 0 !important;
        padding: 0px;
        border: none;
        margin-top: 20px !important;
    }

    .articleWorldEven{
        margin-right: 0 !important;
    }

    .articleSmall a.image{
        width: 100% !important;
        height: 125px !important;
    }
    .articleSmall img{
        height: 100% !important;
    }
    .articleSmall a.title{
        margin-top: 10px !important;
        font-size: 16px !important;
    }
    .articleSmallLast{
        display: none;
    }
    .sportNews {
        margin-bottom: 0px !important;
    }
    /*Travel*/
    .travelContainer{
        width: 100%;
        margin: 0;
    }
    .bigTravel{
        padding: 0px 15px;
    }
    .bigTravel a.image{
        height: 250px;
    }
    .smallTravelContainer{
        display: flex;
        padding: 0px 15px !important;
    }
    .smallTravel {
        width: 48%;
    }
    .smallTravel a.image {
        height: 125px !important;
    }
    /*Entertainment*/
    #entertainmentNews {
        padding: 0 !important;
    }
    #entertainmentNews .mainTile{
        margin-top: 10px;
    }
    #entertainmentNewsContainer {
        width: 100%;
        margin: 0;
    }
    #entertainmentNewsLeft{
        height: max-content;
        padding: 0px;
    }
    .articleEntertainmentBig{
        height: max-content !important;
        padding: 0px 15px !important;
        margin-bottom: 20px;
    }
    #listArticleEntertainment{
        display: none;
    }
    #entertainmentNewsLeft a.image {
        height: 250px;
    }
    #entertainmentNewsRight{
        padding: 0px 15px 0px 15px !important;
        display: flex;
        flex-wrap: wrap;
    }
    .articleEntertainment{
        flex-direction: column;
        height: max-content;
        width: 47.35%;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }
    .articleEntertainment a.image{
        width: 100%;
        height: 125px !important;
    }
    .articleEntertainment img{
        padding: 0 !important;
    }
    .articleEntertainment a.title{
        margin-top: 10px !important;
        font-size: 16px;
        width: 100%;
    }
    /*Tech*/
    #techNews{
        padding: 0;
    }
    #techNews .mainTile{
        margin-top: 10px;
    }
    .techNewsBig{
        padding-left: 15px;
        padding-right: 15px;
    }
    .techNewsMedium{
        padding: 0px 15px;
        height: max-content;
    }
    .articleTech{
        margin-bottom: 20px;
    }
    .articleTech a.image {
        width: 55% !important;
        height: 97px !important;
    }
    .articleTech img {
        padding-right: 0px !important;
    }
    .articleTech a.title {
        margin-left: 10px;
        font-size: 16px;
    }
    .EnterTech{
        margin-bottom: 0px !important;
        width: 100%;
        margin: 0 auto;
    }
    /*Car*/
    #societyNews {
        padding: 0px !important;
    }
    #societyNews .mainTile{
        margin-top: 10px;
    }
    .lastNewsBig {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .lastNewsBig a.title{
        margin-bottom: 20px !important;
    }
    .lastNewsMedium{
        padding: 0px 15px
    }
    .articleLast a.image{
        height: 97px;
        width: 80%;
    }
    .articleLast a.title{
        font-size: 16px;
    }
    /*Business*/
    #businessNews{
        padding: 0px !important;
    }
    #businessNews .mainTile{
        margin-top: 10px;
    }
    /*Life*/
    #lifeNews{
        padding: 0px !important;
    }
    #lifeNews .mainTile{
        margin-top: 10px;
    }
    .lastCategory{
        width: 100%;
        margin: 0 auto;
    }
    /*Footer*/
    #footer{
        height: max-content;
    }
    #footerLeft {
        padding: 0px 15px !important;
    }
    #footerRight {
        padding: 2px 15px 30px 15px !important;
    }
    .textNoResponsive{
        display: none;
    }
    .textResponsive{
        display: block;
    }
    .logoFooter{
        left: 0;
        width: 100px !important;
    }
    #footerLeft img{
        width: 100%;
    }

    /* Menu Mobile*/
    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    
    #menuToggle input
    {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    
    #menuToggle span
    {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #5c5959;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }
    
    #menuMobile
    {
        position: absolute;
        width: 103vw;
        height: 102vh;
        margin: -50px 0 0 -50px;
        padding: 15px 10px 0px 50px;
        
        background-color: #ffffff;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menuMobile li
    {
        padding: 10px 0;
        transition-delay: 2s;
        height: max-content;
        margin: 0 !important;
    }

    #menuMobile li a
    {
        font-size: 18px;
    }
    .smallCategory{
        display: flex;
    }
    .smallCategory a{
        font-size: 15px !important;
        font-weight: 100 !important;
        height: max-content !important;
        margin: 0px 10px !important;
    }

    .smallCategory a:first-child{
        margin-left: 0px;
    }

    #menuMobile 
    {
        display: block !important;
        margin-top: 40px;
    }
    
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
}
 






