.mainArticle{
    padding-right: 50px;
}

.mainArticle p.title{
    font-weight: 700;
    font-size: 32px;
    font-family: "Merriweather",serif;
}

.mainArticle p.selected{
    font-size: 18px;
}

.mainArticle p.articleSummary{
    font-size: 18px;
}

.mainArticle p.articleWrapper img{
    width: 100%;
}

.mainArticle p.articleWrapper{
    margin-bottom: 7px;
}

.articleHeader{
    display: flex;
}

.articleHeader a.catagory{
    margin-left: 0px;
    color: #c00000; 
}

.articleHeader li.articleAuthor{
    list-style: none;
    font-weight: bold;
}

.articleHeader li.articlePublish{
    margin-left: 30px;
    color: #5c5959;
}

.imgDes{
    font-size: 14px;
}

.lastArticleContainer{
    margin-top: 50px;
}

.lastArticle{
    width: 90%;
    display: flex;
    margin-bottom: 20px;
    float: left;
}

.lastArticle a.image{
    width: 350px;
    height: 140px;
}

.lastArticle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lastArticleHeader{
    font-size: 19px;
    font-weight: 600;
    color: #5c5959;
}

.lastArticleContent{
    margin-left: 20px;
    width: 100%;
}

.lastArticleContent a.title{
    font-size: 19px;
    color: #5c5959;
}

.lastArticle:hover a.title{
    color: #c00000;
}

.lastArticleContent p{
    color: #5c5959;
    font-size: 14px;
}

#sidebar{
    position: sticky;
    padding-right: 25px;
    top: 100px;
}

#sidebarContainer{
    padding-left: 0px;
}

#sidebar{
    border: 1px solid;
    border-color: #e3e0e0;
    height: 530px;
    padding-left: 30px;
    margin-top: 20px;
}

#sidebar h2.category{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    color: #5c5959;
    font-weight: 600;
}

.articleSidebar{
    display: flex;
    margin-bottom: 20px;
}

.articleSidebar img{
    width: 85px;
    height: 70px;
    margin: 0px;
    object-fit: cover;
}

.articleSidebar a.image{
    margin: 0px;
}

.articleSidebar:hover a{
    color: #c00000;
}

.contentCategory{
    margin-left: 13px;
}

.contentCategory h5{
    font-size: 11px;
    color: #777272;
    margin: 0px 0px 2px 0px;
    font-weight: 200;
}

.contentCategory a{
    width: 180px;
    font-size: 13px;
}

.footerContent{
    display: flex;
    width: 750px;
    margin-left: 0;
}

.footerContent i{
    font-size: 23px;
}

.footerContent div{
    display: flex;
}

.footerContent p{
    margin-left: 10px;
    color: #666262;
}

.saveArticle{
    margin-left: 0;
    margin-right: 10px;
}

.loveArticle{
    margin-left: 15px;
}

.shareArticle p{
    margin-right: 10px;
}

.shareArticle a{
    margin-right: 10px;
}

.shareArticle i{
    color: #666262;
}
