.mainArticle{
    padding-right: 50px;
}

.mainArticle p.title{
    font-weight: 700;
    font-size: 32px;
    font-family: "Merriweather",serif;
}

.mainArticle p.selected{
    font-size: 18px;
}

.mainArticle p.articleSummary{
    font-size: 18px;
}

.mainArticle p.articleWrapper img{
    width: 100%;
}

.mainArticle p.articleWrapper{
    margin-bottom: 7px;
}

.articleHeader{
    display: flex;
}

.articleHeader a.category{
    margin-left: 0px;
    color: #c00000; 
}

.articleHeader li.articleAuthor{
    list-style: none;
    font-weight: bold;
}

.articleHeader li.articlePublish{
    margin-left: 30px;
    color: #5c5959;
}

.imgDes{
    font-size: 14px;
}

.lastArticleContainer{
    margin-top: 50px;
}

.endArticle:hover a.title{
    color: #c00000;
}

.endArticle{
    width: 90%;
    display: flex;
    margin-bottom: 20px;
    float: left;
}

.endArticle a.image{
    width: 350px;
    height: 140px;
}

.endArticle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lastArticleHeader{
    font-size: 19px;
    font-weight: 600;
    color: #5c5959;
}

.lastArticleContent{
    margin-left: 15px;
    width: 100%;
}

.lastArticleContent a.title{
    font-size: 18px;
    color: #5c5959;
    padding-bottom: 5px;
}

.lastArticle:hover a.title{
    color: #c00000;
}

.lastArticleContent p{
    color: #5c5959;
    font-size: 14px;
}

#sidebar{
    position: sticky;
    padding-right: 25px;
    top: 100px;
}

#sidebarContainer{
    padding-left: 0px;
}

#sidebar{
    border: 1px solid;
    border-color: #e3e0e0;
    height: 530px;
    padding-left: 40px;
    margin-top: 20px;
}

#sidebar h2.category{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    color: #5c5959;
    font-weight: 600;
}

.articleSidebar{
    display: flex;
    margin-bottom: 20px;
}

.articleSidebar img{
    width: 85px;
    height: 70px;
    margin: 0px;
    object-fit: cover;
}

.articleSidebar a.image{
    margin: 0px;
}

.articleSidebar:hover a{
    color: #c00000;
}

.contentCategory{
    margin-left: 13px;
}

.contentCategory h5{
    font-size: 11px;
    color: #777272;
    margin: 0px 0px 2px 0px;
    font-weight: 200;
}

.contentCategory a{
    width: 180px;
    font-size: 13px;
}

.footerContent{
    display: flex;
    width: 750px;
    margin-left: 0;
}

.footerContent i{
    font-size: 23px;
}

.footerContent div{
    display: flex;
}

.footerContent p{
    margin-left: 7px;
    color: #4a4747;
    font-weight: 600;
}

.saveArticle{
    margin-left: 0;
    margin-right: 10px;
}

.saveArticle i{
    color: #d6493c;
}

.loveArticle{
    margin-left: 15px;
}

.loveArticle i{
    color: #d6493c;
}

.shareArticle p{
    margin-right: 10px;
}

.shareArticle a{
    margin-right: 10px;
}

.facebook i{
    color: #3f5793;
}

.twitter i{
    color: #1c96e8;
}

.mail i{
    color: #d6493c;
}

.copyLink i{
    color: #4a4848;
}

#contentVertical{
    display: flex;
    flex-direction: column;
}

.tagNews{
    display: flex;
    margin-left: 0px;
    margin-top: 15px;
}

.tagNews i{
    font-size: 23px;
    color: #5c5959;
    margin-top: 4px;
    margin-right: 10px;
}

.tagNews a{
    font-weight: 100;
    margin: 0px 5px;
    background: #ededed;
    border-radius: 15px;
    padding: 5px 12px;
    color: #797676;
    font-size: 13px;
}

.tagNews a:hover{
    color: white;
    background: #d6493c;
}

.newsRow{
    display: flex;
}

.articleFavorite img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleFavorite a.image{
    width: 100%;
    height: 210px;
}

.articleFavorite p{
    font-size: 13px;
    color: #a09c9c;
    display: flex;
}

.articleFavorite p a{
    font-weight: 100;
    color: #4a4848;
    margin-left: 15px;
}

.articleFavorite a.title{
    padding: 10px 0px 5px 0px;
    font-size: 17px;
}

.articleFavorite:hover a.title{
    color: #c00000;
}

.newsRow{
    width: 1050px;
    margin: 0 auto;
}

.outstandingNews{
    border: 1px solid #e3e0e0;
    height: 390px;
    margin-top: 60px;
    padding-left: 30px;
}

h2.outstandingTitle{
    font-size: 20px;
    font-weight: 700;
    color: #5c5959;
    margin-top: 35px;
    margin-bottom: 15px;
}

.articleOutstanding{
    display: flex;
    margin-bottom: 20px;
}

.articleOutstanding a.image{
    margin: 0px;
}

.articleOutstanding img{
    width: 110px;
    height: 80px;
    margin: 0px;
    object-fit: cover;
}

.articleOutstanding a.title{
    width: 180px;
    font-size: 14px;
    margin-left: 13px;
}

.articleOutstanding:hover a.title{
    color: #c00000;
}

/*Responsive Mobile*/
@media only screen and (max-width: 740px) {
    .categoryHeader{
        
    }
}


